
@media only screen and (min-width: 10px) {
   
h1, h2 {

    font-family: Bree Serif;
}

div {
    display: grid;
    grid-template-columns: 1fr; 
    width: 80%;
} 
.cards {
    width: 96%;
    border: 2px solid #9685D3;
    box-shadow: 7px 7px 7px gray;
   
}
h1 {
    text-align: center;
    color: #431BD3;
}

h2 {
    color: #431BD3;
}

.cards section {
    text-align: center;
    border: 2px solid #9685D3;
    padding: 10px;
    margin: 10px;
    max-width: 25rem;
    background-color: #C9BAFF;
}
.cards section p {
    padding-top: 2px;
    margin: 0;
}

.cards img {
    width: 70%;
    margin-top: 15px;
    border: 3px solid #553f92;
    box-shadow: 6px 6px 6px  #553f92;
  
}

}  

@media only screen and (min-width: 800px) {
    div {
        grid-template-columns: 1fr 1fr; 
        
    }


}  

@media only screen and (min-width: 1200px) {
    div {
        grid-template-columns: 1fr 1fr 1fr  1fr; 
        
    }
}