@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

h1
  {
    font-size: 1.5rem;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

h2 {
    font-size: 1rem;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

p {

    font-size: 14px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

img {
    width: 200px;
    height: auto;
}



.contentDiv {
    padding: 1em;
    color: black;
    border-radius: 25px;
    max-width: 700px;
    margin-bottom: 50px;
    margin: auto;

}

#myName {
    display: flex;
    flex-flow: row wrap;
    align-items: center;


}

header,
footer {
    background-color: #17202A;
    padding: 1em;
    color: white;
    border-radius: 25px;
    max-width: 700px;
    margin: auto;
}

.link { color:yellow; }
.link:hover {color:white;}