h1,
h2,
h3,
ul {
    font-family: 'Montserrat', sans-serif;
    
}
h1 {
font-size: 1.5rem;  
margin: 0;  
}

h2{
font-size: 1.2rem;
margin: 0;
}

h3{
    font-size: 1.0rem;
    margin: 0;
    margin-bottom: 1em;
}

header{
background-color: rgb(112,187,199);
text-align: center;
}

p {
    font-family: 'Francois One', sans-serif;

}
nav {
background-color:  #d2ade2;
}

.headerIcon {
display: flex;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;

}

img{
width: 50px;  
height: 50px;  
}

nav button {
margin: .2rem 2%;
background-color: transparent;
border: none;
font-size: 1.6rem;
color: black;

}

nav ul {

list-style-type: none;
padding: 0;
margin: 0;

}

nav ul li a {
display: block;
padding: .8rem 2%;
text-decoration: none;
color: darkslategray;
border: 1px solid rgba(176,149,221,.4);
text-align: center;

}

nav ul li.prestonPage a{

    background-color: rgba(118,139,191,.7);
    color: white;
}
    
nav ul li a:hover {

background-color: #778bd3;

}

nav ul.navigationLists {display: none;}

#secondSection , #thirdSection, #fourthSecton, #fifthSection {

max-width: 400px;
margin: auto;
border: solid 1px black;
text-align: center;
background-color: #f2d6c5;

}


footer{
    background-color: rgb(112,187,199);
    text-align: center;
    padding: 1em;
    max-width: 420px;
    margin: auto;
}

#container{
background-color:white;
text-align: center;
padding: 1em;
}
p{
    margin: 0;
}