@media only screen and (min-width: 60em) {

    nav ul {
        margin-left: 2%;
        display: flex;
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.9rem;
        margin: 0;
    }

    h2 {
        font-size: 1.6rem;
        margin: 0;
    }

    h3 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 1em;
    }

    h4 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 1em;
    }

    p {

        font-size: 1em;
    }

    footer {

        max-width: 900px;


    }

    .weatherSummary {

        width: 230px;
        height: 190px;
        top: 20px;
        right: 980px;

    }


    .articleDiv,
    .heroDiv,
    .forecastDiv,
    .contactInfo,
    footer {
        max-width: 700px;
        margin: auto;
        margin-bottom: 2rem;


    }

    .heroFigure {
        max-width: 800px;
        margin: auto;
        margin-bottom: 2rem;

    }
}