.box1 {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
  }

  .box1:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
  }  

  .box2 {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
  }

  .box2:hover {
    width: 300px;
    height: 300px;
    transform: skewY(30deg);
  }  

  .box3 {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
  }

  .box3:hover {
    width: 300px;
    height: 300px;
    transform: scaleY(1.5);
  }  

  div {

    margin: 50px;
  }