h1,
h2,
h3,
h4
 {
    font-family: 'Girassol', cursive;
}


.weatherIcon {

    width: 25px;
    float: left;
}

.heroFigure {
    margin: 0em;

}
.heroIMG {

    width: 100%;
    height: auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}

h3 {
    font-size: 1.0rem;
    margin: 0;
    margin-bottom: 1em;
}

h4 {
    font-size: 0.7rem;
    margin: 0;
    
}
header {
    background-color: rgb(112, 187, 199);
    text-align: center;
}

p {
    font-size: 0.65rem;
    font-family: 'Pragati Narrow', sans-serif;

}

nav {
    background-color: #d2ade2;
}

.headerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.hamButton {
display: flex;
align-items: center;

}

nav button {
    margin: .2rem 2%;
    margin-left: 10rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;

}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: darkslategray;
    border: 1px solid rgba(176, 149, 221, .4);
    text-align: center;
    

}

nav ul li.prestonPage a {

    background-color: rgba(118, 139, 191, .7);
    color: white;
}

.link {

color: black;

}
nav ul li a:hover {

    background-color: #778bd3;

}

nav ul.navigationLists {
    display: none;
}


#thirdSection,
#fourthSecton,
#fifthSection {

    max-width: 400px;
    margin: auto;
    border: solid 1px black;
    text-align: center;
    background-color: #B3CCD1;

}


footer {
    background-color: rgb(112, 187, 199);
    text-align: center;
    padding: 1em;
    max-width: 420px;
    margin: auto;
    margin-top: 0;
}

#container {
    background-color: white;
    text-align: center;
    padding:0;
}

p {
    margin: 0;
}

.herodiv {margin: 30px auto;
    position: relative;
    
    
}


.weatherSummary {
    width: 90px;
    height: 90px;
	position: absolute;
	top: 10px;
    right: 210px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.0rem;
	box-shadow: 0 0 30px #111;
    opacity: .8;
    
}

.articleDiv {margin: 30px auto;
    position: relative;
    border-style: groove;
}

.contactInfo{
    position: relative;
    border-style: groove;
    margin-bottom: 0;

}

#catImg {

    width: 60%;
    height: auto;

}

.forecastDiv {

    display:none;
    border-style: groove;
    
}

#mapImg{
display: none;

}

.articleDiv, .herodiv, .contactInfo {
  max-width: 100%;

}
.articleDiv, .forecastDiv, .contactInfo {
    background-color: #eae7dc;
  
  }
  
