h1,
h2,
h3,
h4 {
    font-family: 'Girassol', cursive;
}

body {
background-color: white;
background-image: linear-gradient(#a8edea, #fed6e3);;
margin: 0;
}
.weatherIcon {

    width: 25px;
    float: left;
}



h1 {
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}

h3 {
    font-size: 1.0rem;
    margin: 0;
    margin-bottom: 1em;
}

h4 {
    font-size: 0.7rem;
    margin: 0;

}

header {
    background-color: rgb(112, 187, 199);
    background-image: linear-gradient(#89f7fe , #66a6ff);
    
    

    text-align: center;
}

p {
    font-size: 0.8rem;
    font-family: 'Pragati Narrow', sans-serif;

}

nav {
    background-color: #d2ade2;
    background-image: linear-gradient(#ee9ca7 , #ffdde1);
}

.headerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.hamButton {
    display: flex;
    align-items: center;

}

nav button {
    margin: .2rem 2%;
    margin-left: 10rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;

}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: darkslategray;
    border: 1px solid rgba(176, 149, 221, .4);
    text-align: center;
    font-family: 'Playball', cursive;
  


}

nav ul li.prestonPage a {

    background-color: rgba(118, 139, 191, .7);
    background-image: linear-gradient(#667eea , #764ba2);
    color: white;
}

.link {

    color: black;

}

nav ul li a:hover {

    background-color: #778bd3;

}

nav ul.navigationLists {
    display: none;
}



footer {
    background-color: rgb(112, 187, 199);
    background-image: linear-gradient(#a1c4fd , #c2e9fb);
    text-align: center;
    padding: 1em;
    max-width: 420px;
    margin: auto;
    margin-top: 0;
}

p {
    margin: 0;
}

img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 50px #99877B;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "image1"
    "image2" 
    "image3"
    "image4"
    "image5" 
    "image6"
    "image7" 
    "image8" 
    "image9"    
    ;
    margin: 30px;
  }

main {

    max-width: 700px;
    margin: auto;

}
  .image1{
grid-area: image1;

  }

  figcaption{

    font-style: italic;
    font-size: .75rem;
  }

  .titleDiv{
 text-align: center;
margin-top: 10px;
  }

 .figure {

    margin: auto;
    justify-content: center;
    ;
 }

 div {
     text-align: center;
 }

.fishhaven , .preston , .sodaSprings {

border: solid 1px #778bd3;
background-color: #F2D6C5 ;
background-image: linear-gradient(#ffecd2  , #fcb69f);
border-radius: 25px;
}

#menuButton {
    font-family: 'Playball', cursive;

}

.weatherSummary {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 30%;
    right: 60%;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1.0rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;

}

table, th, td, tr {
    border: 1px solid gray;
    border-collapse: collapse;
    }

    span#imagesrc, span#imagesrc2, span#imagesrc3,span#imagesrc4, span#imagesrc5 {

        display: none;
        
        }

     img#icon, img#icon2, img#icon3, img#icon4, img#icon5 {

        width: 100px;
        height: auto;

     }   


     table 
     {

        display: none;
        font-family: 'Girassol', cursive;
     }

     th {
         font-size: 1.5em;
     }