@media only screen and (min-width: 60em) {

    nav ul {
        margin-left: 2%;
        display: flex;
        font-size: 1.1rem;
    }

    .sectionOne
    {
        display: flex;
    }

    .imageGallery
    {
        display: flex;
    }

    h1 {
        font-size: 1.9rem;
        margin: 0;
    }

    h2 {
        font-size: 1.6rem;
        margin: 0;
    }

    h3 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 1em;
    }

    h4 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 1em;
    }

    p {

        font-size: 1em;
    }

    img.kayakPic, img.riverPic
    {
        width: 80%;

    }

    .adsDiv
  {
    margin-top: 5%;
  }
   
  iframe 
  {
      display: inline;
      width: 500px;
      height: 300px;
  }

  span
  {
      font-size: 1.5rem;
      font-family: 'Special Elite', cursive;
  }

.kayakingActivityInfo, .kayakingActivitySection, 
.jetSkiActivityInfo, .jetSkiActivitySection,
.trailHikingActivityInfo, .trailHikingActivitySection,
.riverGuide1Info, .riverGuide1Pic,
.riverGuide2Info, .riverGuide2Pic,
.riverGuide3Info, .riverGuide3Pic
{
    max-width: 50%;
    line-height: initial;
}

.kayakActivityFig, .jetSkiActivityFig, .trailHikingActivityFig,
.riverGuide1Fig, .riverGuide2Fig, .riverGuide3Fig

{
    max-width: 70%;
    margin: auto;
}

.kayakingActivity, .jetSkiActivity, .trailHikingkiActivity,
.riverGuide1, .riverGuide2, .riverGuide3
{
    display: flex;
    margin: 2%;
    border: solid 1px black;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    

figcaption
{
    font-size: .9rem;
    font-family:'Merriweather Sans', sans-serif;
}



}