@media only screen and (min-width: 60em) {

    nav ul {
        margin-left: 2%;
        display: flex;
        font-size: 1.1rem;
    }

    .sectionOne
    {
        display: flex;
    }

    .imageGallery
    {
        display: flex;
    }

    h1 {
        font-size: 1.9rem;
        margin: 0;
    }

    h2 {
        font-size: 1.6rem;
        margin: 0;
    }

    h3 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 1em;
    }

    h4 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 1em;
    }

    p {

        font-size: 1em;
    }

    img.kayakPic, img.riverPic
    {
        width: 80%;

    }

    .adsDiv
  {
    margin-top: 5%;
  }
   
  iframe 
  {
      display: inline;
      width: 500px;
      height: 300px;
  }



}